#hidden {
  display: none;
}

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable.hover {
  text-decoration: underline;
}

#carpenter {
  width: 25%
}

.click {
  color: blue;
  cursor: pointer;
}
